.product-description {
    border-radius: 10px;
    background-color: #f9f9ff;
    padding: 150px 25px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}
